* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* start header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
}
header .container_all {
  max-width: 1199px;
  margin: auto;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_all img {
  cursor: pointer;
}
.container_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_list ul {
  display: flex;
}
.container_list li {
  list-style-type: none;
  margin-right: 30px;
}
.container_list a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
}
.container_list i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
.container_list li span {
  display: inline-block;
  transition: 0.5s;
  text-transform: capitalize;
  cursor: pointer;
}

.container_list a:hover {
  color: #f55f8d;
}
.container_list a:hover span {
  animation: upToDown 0.3s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.container button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  /* outline: 0; */
  /* text-transform: uppercase; */
  /* line-height: 1.2; */
  text-align: center;
  box-shadow: 0 0 20px #eee;
  display: block;
}

.container button:hover {
  background-position: right center;
  color: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  text-decoration: none;
}
/* start carousel  */
.carousel_all {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(./Samar/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel_both {
  max-width: 1199px;
  margin: auto;
}
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel_left {
  line-height: 1.6;
  width: 60%;
}
.carousel_left .left_head p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel_left .left_head h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.carousel_left li {
  list-style: none;
}
.carousel_left .left_body p {
  color: #636363;
  font-weight: 400;
}
.carousel_left .left_body i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(to right, #f55f8d 0, #f55f8d 40%, #f8ae56 100%);
  border-radius: 50%;
  margin-top: 20px;
}
.left_body .leftbody_button {
  padding-top: 20px;
}
.left_body button {
  display: block;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
  border-radius: 30px;
  color: #fff;
  padding: 20px 35px;
  background-size: 200%;
  border: 1px solid transparent;
  text-align: center;
  box-shadow: 0 0 20px #eee;
}
.carousel_right {
  display: block;
  object-fit: cover;
}
.left_body button:hover {
  background-position: right center;
  color: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  text-decoration: none;
}
/* start services  */
.services {
  background-image: url(./Samar/bg2.png);
  background-position: top center;
  text-align: center;
  padding-top: 120px;
}
.services_all {
  display: block;
  max-width: 1199px;
  margin: auto;
}
.sevices_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.sevices_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.services_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services_img .img_1 {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background: white;
  padding: 20px 20px;
  transition: 0.5s;
  transform: translateY(0px);
}
.services_img .img_1:hover {
  transform: translateY(-20px);
}
.services_img .img_1 img {
  width: 200px;
}
.services_img .img_1 h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.services_img .img_1 p {
  color: #636363;
  line-height: 1.6;
}
@keyframes arrowAnimate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
/* start business*/
.business {
  background-image: url(./Samar/bg15.png);
  background-size: 100%;
  padding-top: 150px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.business_all {
  max-width: 1199px;
  margin: auto;
  /* margin: auto; (nội dung vào giữa) */
}
.business_both {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.business_left {
  width: 60%;
  position: absolute;
  left: -17%;
  animation-duration: 2s;
}
.business_left img {
  width: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.business_right {
  width: 60%;
  animation-duration: 2s;
  padding-right: 50px;
  padding-left: 70px;
}
.business_right .right_head p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #f55f8d;
}
.business_right .right_head h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.right_body {
  margin-bottom: 15px;
}
.right_list ul {
  margin-bottom: 20px;
}
.right_list ul li {
  padding-bottom: 10px;
  list-style-type: none;
}
.right_list ul li i {
  font-size: 24 px;
  color: #f55f8d;
  margin-right: 10px;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  vertical-align: middle;
  padding: 10px 10px;
}
.right_list button {
  display: block;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
  border-radius: 30px;
  color: #fff;
  padding: 20px 35px;
  background-size: 200%;
  border: 1px solid transparent;
  text-align: center;
  box-shadow: 0 0 20px #eee;
}
.right_list button:hover {
  background-position: right center;
  color: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}
/* start number */
.number {
  background-image: url(./Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_all {
  max-width: 1199px;
  margin: auto;
}
.number_list {
  display: flex;
  justify-content: center;
}
.numbers_item {
  width: 25%;
}
.numbers_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.numbers_item h2 {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  padding-right: 20px;
}
.numbers_item {
  color: #262626;
  font-size: 18px;
}
.number_head {
  display: flex;
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  justify-content: center;
  align-items: center;
}
/* start story  */
.story {
  background-image: url(./Samar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 120px;
}
.story_all {
  max-width: 1199px;
  margin: auto;
}
.story_both {
  display: flex;
  justify-content: center;
  align-items: center;
}
.story_left,
.story_right {
  width: 50%;
}
.story_right {
  width: 50%;
}
.storyleft_head {
  animation-duration: 2s;
}
.storyleft_head p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.storyleft_head h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.story_both .body1 {
  padding: 0 50px 30px 0;
  animation-delay: 0.2s;
}
.story_both .body2 {
  padding: 0 0 30px 50px;
  animation-delay: 0.6s;
}
.story_both .body3 {
  padding: 0 50px 30px 0;
  animation-delay: 0.8s;
}
.storyleft_bodyboth {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  animation-duration: 2s;
  z-index: 1;
}
.storyleft_bodyboth i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  transition: 0.1s;
  z-index: 1;
}
.storyleft_bodytitle {
  padding-left: 25px;
  transition: 0.1s;
  z-index: 1;
}
.storyleft_bodytitle h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: 0.1s;
  padding-bottom: 10px;
}
.storyleft_bodytitle p {
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.storyleft_bodyboth:hover::after {
  opacity: 1;
}
.storyleft_bodyboth::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.storyleft_bodyboth:hover i,
.storyleft_bodyboth:hover h3,
.storyleft_bodyboth:hover p {
  color: white;
}
.story_right img {
  animation: move 5s infinite;
}
@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* start portfolio */
.portfolio {
  background-image: url(./Samar/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 120px;
}
.portfolio .por_all {
  max-width: 1199px;
  margin: auto;
}
.portfolio .title {
  display: block;
}
.portfolio .title h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.portfolio .title p {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.portfolio .blogs_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
  aspect-ratio: 1/1;
}
.portfolio .blogs_list .blogs_item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio .blogs_list .blogs_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio .blogs_list .item-1 {
  grid-column: 1 / span 2;
}
.portfolio .blogs_list .item-2 {
  grid-column: 1 / span 2;
}
.portfolio .blogs_list .item-3 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio .blogs_list .blogs_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 0.5s;
}
.portfolio .blogs_list .blogs_item:hover::before {
  left: 125%;
}
.portfolio .blogs_list .blogs_item .item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}
.portfolio .blogs_list .blogs_item .item_plus {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: 0.5s;
}

.portfolio .blogs_list .blogs_item .item_title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: 0.5s;
  color: white;
}
.portfolio .blogs_list .blogs_item .item_title h3 {
  font-size: 22px;
  font-weight: 800;
}
.portfolio .blogs_list .blogs_item .item_title p {
  opacity: 0.5;
}
.portfolio .blogs_list .blogs_item:hover .item_overlay {
  opacity: 1;
}
.portfolio .blogs_list .blogs_item:hover .item_plus {
  transform: translateY(0px);
}
.portfolio .blogs_list .blogs_item:hover .item_title {
  transform: translateY(0px);
}
/* start plan  */
.plan {
  background-image: url(./Samar/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 115px;
}
.plan_all {
  max-width: 1199px;
  margin: auto;

}
.plan .title h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.plan .title p {
  font-size: 70px;
  line-height: 1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.plan .list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan .list .list_item {
  padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: 0.5s;
    display: block;
    animation-duration:0.5s;
}
.plan .list .list_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan .list .list_item img {
  width: 130px;
}
.plan .list .list_item div{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}
.plan .list .list_item div h4{
  color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan .list .list_item div span{
font-size: 18px;
color: #262626;
font-weight: 600;
}
.plan .list .list_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
  list-style-type: none;
}
.plan .list .list_item ul li {
  font-size: 18px;
  color: #262626;
  font-weight: 400;
  padding: 5px 0;
}
.plan .list .list_item ul li i {
  font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 15px;
}
.plan .list .list_item button {
  padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1;
}
.plan .list .list_item button:hover {
  background-position: right center;
  color: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  text-decoration: none;
}
.plan .list .list_item:hover {
border-image-source: url(./Samar/br.png);
border-image-slice: 1;
border-image-width: 1;
border-image-outset: 0;
border-image-repeat: round;
}
/* start swiper  */
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
/* start blog  */
.blog {
  background-image: url(./Samar/bg16.png);
  background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 115px;
}
.blog .blog_both {
  max-width: 1199px;
  margin: auto;
}
.blog .blog_both .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.blog .blog_both .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.blog .blog__item {
  display: block;
  text-align: left;
  background: rgba(245,95,141,.1);
  border-radius: 8px;
  width: 100%;
  position: relative;
}

.blog .blog__header {
  position: relative;
}
.blog .blog__header img{
  display: block;
  width: 100%;
  border-radius: 8px;
}
.blog__header p {
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog .blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left;
}
.slick-slide {
  padding: 0 20px;
  float: left;
}
.blog .blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog .blog__body p {
  line-height: 1.4;
  color: #636363;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.blog .blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog .blog__footer i {
  font-size: 20px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog .blog__footer .item__1 {
  border: 1px solid #f55f8d;
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
}
.blog .blog__footer .title__1 {
  color: #f55f8d;
}
.blog .blog__footer .footer__1 {
  padding-right: 20px;
}
/* start footer  */
footer {
  background-image: url(./Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
  content: "";
  background-image: url(./Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact{
  max-width: 1199px;
    margin: auto;
}
.sub {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./Samar/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;}
  .sub .sub_text {
    width: 50%;
  }
  .sub .sub_text h2{
  font-size: 28px;
    color: #262626;
  }
  .sub .form {
    width: 50%;
  }
  .sub .form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  }
  .sub .form form input {
  padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: 0.5s;
  }
  .sub .form form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all .5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.sub .form form input:hover {
  border-color: #f55f8d;
}
.sub .form form button:hover {
  background-position: right center;
}
.infor {
  display: flex;
    padding: 70px 0;
    position: relative;
}
.infor__1{
  width: 25%;
}
.infor__1 a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}
.infor__1 ul li{
  display: flex;
  align-items: center;
  padding: 10px 0;
  list-style: none;
}
.infor__1 ul li i {
  font-weight: 700;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.infor__2{
  width: 25%;
}
.infor__2 h3 {
  font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.infor__2 h3::before {
  width: 15px;
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
  }
  .infor__2 h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 45px;
    left: 20px;
  }
  .infor__2 li {
    padding: 10px 0;
    list-style: none;
  }
  .infor__2 li a{
  color: #636363;
  font-size: 16px;
  transition: 0.5s;
  text-decoration: none;
}
.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer_all {
    display: flex;
    justify-content: space-between;
    max-width: 1199px;
    margin: auto;
}
.footer__left {
  display: block;
}
.footer__left span {
  color: #f55f8d;
}
.footer__right a{
  height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: 0.5s;
}
.footer_copyright a:hover {
  background: #f55f8d;
}
.cd-top{
  width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: 0.2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0;
}
.fa-angle-up:before{
  content: "\f106";
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 0;
}
.cd-top--fade-out {
  opacity: 0.5;
}